*{
  margin: 0;
  padding: 0;
}
.clear {
  height: 0;
  line-height: 0;
  font-size: 0;
  clear: both;
}
.fl{float:left}
.fr{float:right}
body{
  background: #f0f0f0;
  color: #333;
  font-family: "Helvetica Neue",Helvetica,STHeiTi,sans-serif;
  -webkit-font-smoothing: antialiased;
  height: 100%;
}
html {
  height: 100%;
  font-size: 10px;
  outline: 0;
}
@media screen and (min-width: 370px) {
  html{
    font-size: 12px;
  }
}
@media screen and (min-width: 400px) {
  html{
    font-size: 14px;
  }
}
@media screen and (min-width: 480px) {
  html{
    font-size: 16px;
  }
}


ul,li{list-style: none}
img {
  //vertical-align: middle;
  border: 0;
  display: block;
  width: 100%;
}
h2{
  color:white;
  margin-top:50px;
  text-align:center;
  font-weight:normal;
}
.container {
  height: auto;
  min-height: 100%;
  position: relative;
  min-width: 320px;
  max-width: 640px;
  margin: 0 auto;
  background: #fff;
  position: relative;

}
.loading{
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 90;
  background-color: #2C262C;
  padding: 0 30px;
  //display: none;

  }
.loadingtext{
  text-align: center;
  color: #aaa;
  font-size: 1.5em;
}
.loadinghide{

  animation: hideloading 2s 1s linear;
  -webkit-animation: hideloading 2s 1s linear;
}
.heart{
  max-width: 280px;
  text-align: center;
  margin: 150px auto 0 auto;
  min-height: 44px;
  border-radius: 8px;
  padding: 10px;
  transform:translateZ(0);
  -webkit-transform:translateZ(0);
  color: #aaa;
  font-size:3rem;
  cursor:pointer;
  position:relative;
  transition: all .3s ease;
  -webkit-transition: all .3s ease;
  animation: pulse 1.5s linear infinite;
  -webkit-animation: pulse 1.5s linear infinite;
  //animation: fly 1s ease;
  //-webkit-animation-name: pulse, fly;
  //-webkit-animation-duration: 1.3s, 1s;
  //-webkit-animation-timing-function: linear, ease;
  //-webkit-animation-delay: 0s, 1s;
  //-webkit-animation-iteration-count: infinite, infinite;
  //-webkit-animation-fill-mode: forwards, forwards;
  //&:hover{
  //  animation: pulse .6s linear;
  //}

  &:before{
    content: "❤";
    position:absolute;
    color: #A12B2B;
    opacity:0;
    //-webkit-transform:scale(4) translateY(-30px) rotateZ(-15deg);
    //animation: fly 5s 2.3s linear  both;
    //animation: fly 1s ease;
    //-webkit-animation: fly 1s ease;
  }
  &.happy{
    &:before{
      opacity:0;
      transform: translateY(-30px) rotateZ(5deg);
      -webkit-transform: translateY(-30px) rotateZ(5deg);
      animation: fly 1s ease;
      -webkit-animation: fly 1s ease;
    }
  }
  //&.broken{
  //  color: #aaa;
  //  position:relative;
  //  transition: all .3s ease;
  //
  //  &:before, &:after{
  //    content: "❤";
  //    opacity:1;
  //    color: #ccc;
  //    position:absolute;
  //    top:-150px;
  //    transform:  scale(3) rotateZ(0);
  //  }
  //
  //  &:before{
  //    clip: rect(0, 20px, 200px, 0);
  //    animation: break-left 1s ease forwards;
  //  }
  //  &:after{
  //    clip: rect(0, 50px, 200px, 25px);
  //    animation: break-right 1s ease forwards;
  //  }
  //}
}
.wedding{
  background: url(../imgs/wedding.png) no-repeat;
  width: 19.544rem;
  height:17.648rem ;
  background-size: 19.544rem 17.648rem;
  position: absolute;
  top:1.5rem;
  left:50%;
  margin-left:-9.772rem;
  opacity: 0;


}
.weddingplay{
  -webkit-animation: led_Play 3s  linear forwards;
}
.bottom{
  width: 100%;
  background-color: rgba(49,49,49,0.61);
  position: absolute;
  bottom: 0;
  left: 0;
}
.container2{
  width:100%;
  position:relative;
  display: inline-block;
}
.dummy{
  margin-bottom: 82%;
}
.content{
  position:absolute;
  left:0;
  right:0;
  top:0;
  bottom: 0;
  p{
    width: 100%;
    text-align: center;
  }
  img{
    width: 59%;
    display: inline-block;
    margin-top: 4px;
    -webkit-animation: bounce 5s linear infinite;
    //animation-direction:alternate;
    //-webkit-animation-direction:alternate;
  }
  .desc{
    position: absolute;
    bottom: 0;
    padding: 0 1rem 0 1.3rem;
    a{
      color: #fff;
    }
    p{
      color: #fff;
      text-align: left;
      font-size: 1.5rem;
      margin-bottom: 1rem;
      span{

        vertical-align: middle;
        &.font{
          font-size: 1.2rem;
        }
      }
      b{
        display: inline-block;
        background: url(../imgs/lefticon.png) no-repeat 0 0;
        background-size: 2.3125rem 10.05rem;
        width: 2.33rem;
        height: 2.375rem;
        vertical-align: middle;
        margin-right: 0.5rem;
        &.b2{
          background-position: 0 -3.7rem;
          height: 2.625rem;
        }
        &.b3{
          background-position: 0 -7.6rem;
          height: 2.625rem;
        }
      }
    }
  }
}
@-webkit-keyframes bounce {
  0% {-webkit-transform: translateX(0);}
  50% {-webkit-transform: translateX(10px);}
  100% {-webkit-transform: translateX(0);}
}

//@keyframes bounce {
//  0% {transform: translateX(-20);}
//
//  100% {transform: translateX(20);}
//}
@-webkit-keyframes led_Play {
  0% {-webkit-transform: scale(0); opacity: 0.2;}
  50% {-webkit-transform: scale(0.5); opacity: 0.5;}
  100% {-webkit-transform: scale(1); opacity: 1;}
}

@keyframes fly{
  0%{
    opacity:0; -webkit-transform: translateY(-20px) rotateZ(15deg);
  }
  50%{
    opacity:.75;
    -webkit-transform: scale(4) translateY(-30px) rotateZ(-15deg);
  }
  100%{
    opacity:0;
    -webkit-transform: scale(4) translateY(-50px) rotateZ(15deg);
  }
}
@-webkit-keyframes fly{
  0%{
    opacity:0; -webkit-transform: translateY(-20px) rotateZ(15deg);
  }
  50%{
    opacity:.75;
    -webkit-transform: scale(4) translateY(-30px) rotateZ(-15deg);
  }
  100%{
    opacity:0;
    -webkit-transform: scale(4) translateY(-50px) rotateZ(15deg);
  }
}
@keyframes pulse{

  50%{
    transform: scale(1.2);
    color:#A12B2B;
  }

}
@-webkit-keyframes pulse{

          50%{
            -webkit-transform: scale(1.2);
            color:#A12B2B;
          }

        }

@keyframes hideloading{

  20%{
    opacity: 0.7;
  }
  50%{
    opacity: 0.5;
  }
  75%{
    opacity: 0.3;
  }
  100%{
   opacity: 0;
  }

}
@-webkit-keyframes hideloading{

  20%{
    opacity: 0.7;
  }
  50%{
    opacity: 0.5;
  }
  75%{
    opacity: 0.3;
  }
  100%{
    opacity: 0;
  }

}

//@keyframes break-left{
//  0%{
//    opacity:1;
//    transform: scale(3) rotateZ(0);
//  }
//  20%{
//    opacity:.5;
//    transform: scale(3) translateX(-10px) rotateZ(-20deg) translateY(0) ;
//  }
//  50%{
//    opacity:.5;
//    transform: scale(3) translateX(-10px) rotateZ(-20deg) translateY(0) ;
//  }
//  100%{
//    opacity:0;
//    transform: scale(3) translateX(-30px) rotateZ(-25deg) translateY(50px);
//
//  }
//
//}
//@keyframes break-right{
//  0%{
//    opacity:1;
//    transform: scale(3) rotateZ(0);
//  }
//  20%{
//    opacity:.5;
//    transform: scale(3) translateX(10px) rotateZ(20deg) translateY(0) ;
//  }
//  50%{
//    opacity:.5;
//    transform: scale(3) translateX(10px) rotateZ(20deg) translateY(0) ;
//  }
//  100%{
//    opacity:0;
//    transform: scale(3) translateX(30px) rotateZ(25deg) translateY(50px);
//
//  }
//
//}
